img {
  width: 100%;
  height: auto;
}
h3 {
  text-decoration: underline;
}
#topPic {
  display: none;
}

#toppings {
  display: none;
}
.final {
  display: none;
}
.well {
  min-height: 700px;
}

.update {
  float: right;
}
