body {
  background-color: #8dc8e0;
}
img {
  width: 100%;
  height: auto;
}
h3 {
  text-decoration: underline;
}

#topPic {
  display: none;
}

#toppings {
  display: none;
}

.jumbotron h1 {
  color: #697377;
}
.jumbotron {
  background-color: #2e3135;
}
.jumbotron img {
  margin-top: -35px;
  width: 30%;
  height: auto;
  float: right;
}
.jumbotron p {
  color: #799db2;
}
.final {
  display: none;
}
.well {
  border-color: #799db2;
  background-color: #697377;
  min-height: 800px;
}
.update {
  float: right;
}
.wow img {
  height: 250px;
  width: auto;
}
.wait {
  display: none;
}
.wow {
  display: none;
}
.cat {
  padding-left: 10%;
  margin-top: 70px;
  height: 550px;
  width: auto;
}
/*git test*/
